//Colors
$ds_blue: #0c479d;
$ds_light_grey: rgba(255, 255, 255, 0.9);
$ds_transparent_grey: rgba(255, 255, 255, 0.1);
$ds_black: rgba(0, 0, 0, 0.2);
$ds_grey: #5a5a5a;
$ds_dark_shadow: rgba(0, 0, 0, 0.25);
$ds_grey_light2: #d3d3d3;
$ds_blue_light: #0066b3;
$ds_blue_gradient_dark: #0a408e;
$ds_blue_gradient_light: #00a3e0;
$ds_blue_dark: #0a418f;
$ds_blue_gradientRGB: rgba(10, 64, 142, 0.64);
$ds_dark_gradientRGB: rgba(0, 163, 224, 0);
$ds_greyShadow: rgba(0, 0, 0, 0.25);
$ds_black_2: #111111;
$ds_scrollbar_grey1: rgba(229, 234, 236, 0.514);
$ds_scrollbar_grey2: rgba(216, 223, 231, 0.329);
$ds_blue_white_gradient: linear-gradient(
  24.95deg,
  #0c479d 30.89%,
  #00a3e0 93.02%
);
$ds_blue_light_gradient: linear-gradient(
  24.95deg,
  #0c479d 30.89%,
  #00a3e0 93.02%
);
$ds_blue_dark_gradient: linear-gradient(
  0.33deg,
  #0a408e 32.77%,
  rgba(10, 64, 142, 0.64) 68.36%,
  rgba(0, 163, 224, 0) 95.78%
);
$ds_black_2: #111111;
$ds_blue_white_gradient: linear-gradient(
  24.95deg,
  #0c479d 30.89%,
  #00a3e0 93.02%
);
$ds_blue_light_gradient: linear-gradient(
  24.95deg,
  #0c479d 30.89%,
  #00a3e0 93.02%
);
$ds_blue_dark_gradient: linear-gradient(
  0.33deg,
  #0a408e 32.77%,
  rgba(10, 64, 142, 0.64) 68.36%,
  rgba(0, 163, 224, 0) 95.78%
);
$car_gradient: linear-gradient(180deg, rgba(74, 74, 74, 0) 0%, #303030 100%);
