@use 'src/assets/style/globalVariables';
@use 'src/assets/style/mixinHelper';
.full{
    height: 100%;
    display: flex;
    flex-direction: column;
    .titlu{
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: bold;
        display: flex;
    }
    .container{
 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .field{
            display: flex;
            flex-direction: column;
            width: 20%;
            .label{
                display: flex;
                justify-content: flex-start;
                color: globalVariables.$grey;
            }
            .input{
                border: 2px solid globalVariables.$border;
                border-radius: 4px;
                height: 50px;
                font-size: 20px;
            }
        }
        
    }
    .adaugaProdus{
        background-color: globalVariables.$purple;
        color: globalVariables.$white;
        width: 200px;
        height: 50px;
        border-radius: 8px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    .ListaProduse{
        margin: 50px;
        .form{
            height: 100%;
            justify-content: space-between;
            .row{
                display: flex;
                flex-direction: row;
                .rowData{
                    flex: 1;
                    display: flex;
                    .input{
                        flex: 1;
                    }
                }
                .removeBtn{
                    cursor: pointer;
                    background-color: globalVariables.$red;
                    width: 3vw;
                    padding: 10px;
                }
                
            }
            .endArea{
                margin-top: 50px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: row;
                gap: 20vw;
                .saveBtn{
                    width: 100px;   
                    height: 50px;
                    font-size: 150%;
                    background-color: globalVariables.$purple;
                    color: globalVariables.$white;
                    border: none;
                    border-radius: 8px; 
                }
                .printBtn{
                    width: 100px;   
                    height: 50px;
                    font-size: 150%;
                    background-color: globalVariables.$purple;
                    color: globalVariables.$white;
                    border: none;
                    border-radius: 8px;
                }
            }
           
        }
        
    }
    
}
