@use 'src/assets/style/globalVariables';
@use 'src/assets/style/mixinHelper';
.full{
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    .MenuBtn{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: globalVariables.$green;
        color: globalVariables.$white;
        border: none;
        height: 50px;
        width: 100px;
        border-radius: 40px;
    }
    .titlu{
        flex: 1;
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: bold;
        display: flex;
    }
    .container{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .field{
            display: flex;
            flex-direction: column;
            width: 20%;
            .label{
                display: flex;
                justify-content: flex-start;
                color: globalVariables.$grey;
            }
            .input{
                border: 2px solid globalVariables.$border;
                border-radius: 4px;
                height: 50px;
                font-size: 20px;
            }
        }
        
    }
    .adaugaProdus{
        flex:1;
        background-color: globalVariables.$purple;
        color: globalVariables.$white;
        width: 200px;
        height: 50px;
        border-radius: 8px;
        margin: 50px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    .ListaProduse{
        flex:9;
        background-color: globalVariables.$white;
        overflow-y: scroll;
        .table{
            width: 100%;
            .thead{
                background-color: globalVariables.$green;
                .tr{
                    .th{
                        padding:10px;
                        height: 50px;
                        color: globalVariables.$white;
                        flex:1;
                    }
                }
            }
            .tbody{
                .tr{
                    .td{
                        border:1px solid globalVariables.$grey;
                        .input{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .endArea{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .savePrintBtn{background-color: globalVariables.$purple;
            color: globalVariables.$white;
            width: 200px;
            height: 50px;
            border-radius: 8px;
            margin: 30px;
            border: none;
            font-size: 20px;
        }
    }
}
