/* 
#paper-width: 1000px;
$paper-height: $paper-width * 1.415; */
:root {
  --paper-width: 1000px;
}
#screenPdf {
  overflow: scroll;
  display: block;
}
#a4paper {
  display: absolute;
  width: var(--paper-width);
  border: 1px dotted black;
  margin: 30px auto;
  /* border-top-right-radius: 50px;
  border-top-left-radius: 50px; */
  padding: 10px;
  font-weight: bold;
}
.titlu {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.datePrincipale {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.headerdenumiri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.denumiri {
  margin: 2px;
  padding: 5px;
  background: rgb(229, 229, 229);
  width: 1000px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.dataprintare {
  text-align: end;
}

.tabel {
  margin-top: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.trow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tdata {
  padding: 4px;
  border: 1px solid black;
  width: 1000px;
}
