@use "src/assets/style/globalVariables";
@use "src/assets/style/mixinHelper";
.screen {
    height: 100%;
    margin: 2vw;
    font-size: 1.2vw;
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        //button menu is deleted
        .buttonMenu {
            background: globalVariables.$green;
            color: globalVariables.$white;
            border: none;
            height: 50px;
            width: 100px;
            border-radius: 40px;
        }
        .searchField {
            background: globalVariables.$white;
            color: globalVariables.$grey;
            border: none;
            height: 50px;
            width: 50%;
            // margin-top: 2vh;
            // margin-bottom: 2vh;
            border-radius: 5px;
        }
    }
    .container2 {
        text-align: start;
        font-size: 50px;
        margin-left: 40px;
    }

    .container3 {
        height: 70vh;
        overflow-y: scroll;
        background-color: globalVariables.$white;
        border-radius: 30px;
        padding: 20px;
        .headerContainer {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        .headerComanda {
            display: flex;
            flex-direction: col;
            .headerComandaChild {
                color: globalVariables.$grey;
                flex: 1;
            }
        }
        .Comanda {
            border: black 1px solid;
            border-radius: 5px;
            .inchisComanda {
                color: black;
                margin: 5px;
                .headerField {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .comandaClient {
                        flex: 1;
                    }
                    .comandaAdresa {
                        flex: 1;
                    }
                    .comandaId {
                        flex: 1;
                    }

                    .telefon {
                        flex: 1;
                        color: globalVariables.$grey;
                    }
                    .comandaStatus {
                        flex: 1;
                        background-color: globalVariables.$red;
                        color: globalVariables.$white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                    .removeBtn {
                        flex: 1;
                        cursor: pointer;
                        background: globalVariables.$red;
                        color: globalVariables.$white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
            }
            .deschisComanda {
                color: black;
                margin: 5px;
                .headerField {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .comandaClient {
                        flex: 1;
                    }
                    .comandaAdresa {
                        flex: 1;
                    }
                    .comandaId {
                        flex: 1;
                    }
                    .telefon {
                        flex: 1;
                        color: globalVariables.$grey;
                    }
                    .comandaStatus {
                        flex: 1;
                        background-color: globalVariables.$red;
                        color: globalVariables.$white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                    .removeBtn {
                        flex: 1;
                        cursor: pointer;
                        background: globalVariables.$red;
                        color: globalVariables.$white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
                .bodyField {
                    padding: 1vw;
                    background-color: globalVariables.$white;
                    .randProdusTitlu {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        .produsTitlu {
                            background-color: globalVariables.$green;
                            border: 1px solid white;
                            width: 20%;
                        }
                    }
                    .randProdus {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        .produs {
                            border: 1px solid black;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}
